# Archivos del sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Archivos comprimidos
*.rar
*.zip
*.tar.gz

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build outputs
dist/
build/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Backups
*.bak
*.backup
.vercel
